body, html{
  background-color: rgb(233, 219, 201);
  margin: 0;
  height: 100%;
}
h1, h3{
  color: rgb(232, 58, 58);
  font-family: Oswald, sans-serif;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}
h3{
  font-size: 15px;
}

#menu ul {
  padding:0px;
  text-align: center;
  background-color:#EDEDED;
  list-style:none;

}
#menu ul li { display: inline;}

#menu ul li a {
  padding: 2px 10px;
  display: inline-block;

  /* visual do link */
  background-color:#EDEDED;
  color: #333;
  text-decoration: none;
  border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
  background-color:#D6D6D6;
  color: #6D6D6D;
  border-bottom:3px solid rgb(232, 58, 58);
}
#rodape{
  width: 100%;
  height: 90px;
  background-color: rgba(152, 150, 153, 0.857);
  text-align: center; 
  padding: 10px 0px;
}

* html #tudo {
	height: 100%; /* hack para IE6 que trata height como min-height */
}
#img{
  width: 70%;
  margin-left: 15%;
}
p{
  font-family: Oswald, sans-serif;
  font-size: 20px;
  text-align: justify;
  margin: 5%;
}
#fonte{
  display: flex;
  margin-left: 5%;
  margin-bottom: 3%;
}
